# Unreal build artifacts
Binaries/
Intermediate/
DerivedDataCache/
Saved/
Build/BuildRules/

# Generated code
*.generated.*
*.generated.h
*.generated.cpp

# Crash reports & logs
*.dmp
*.log
*.tmp
*~

# Visual Studio files
.vs/
*.suo
*.user
*.userprefs
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.opensdf
*.sdf
*.sln.docstates

# JetBrains Rider / IntelliJ IDEA
.idea/
*.iml
out/

# Rider workspace settings
# (keep .idea/runConfigurations if you share run configs)
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/httpRequests/
.idea/shelf/

# macOS Finder
.DS_Store
.AppleDouble
.LSOverride

# Windows Explorer
Thumbs.db
ehthumbs.db
Desktop.ini

# Backup files
*.bak
